---
---

@import "index";

@import "font";

@import "basic";

@import "layout";

@import "highlight";

body > article {
  padding: 1em;
}

@media (min-width: 32em) {
  body > article {
    padding: 1em calc(38% - 12em);
  }
}

body > footer {
  width: 100%;
  padding: 1em 0;
  flex-shrink: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

article {
  flex: 1 0 auto;
}

html {
  height: 100%;
}

body > header {
  background: $ujblue;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(3, 6, 24, 0.85), rgba(3, 6, 24, 0.9)), url(../img/bg.jpeg) !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: initial;
  background-size: auto, cover, cover;
  padding: 4em calc(38% - 12em) !important;
}

body > footer {
  background: darken($ujblue, 5%);
  color: #fff;
  box-shadow: 0 0 0.6em rgba($dark, 0.04) inset;
}

archive {
  font-size: 1.1em;
}

.archive time {
  display: inline-block;
  min-width: 10ch;
  margin: 0 0.2em;
}

.categories {
  color: $link-color;
  margin-bottom: 0.15em;
}

//
//.title {
//  font-size: 1.3em
//}

.hidden {
  display: none;
}

.icons svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
  transition: 0.2s color;
  vertical-align: middle;
  margin-bottom: 0.15em;
}

.more {
  margin: 2em 0 1em;
}

.more a {
  border-radius: 2px;
  border: 1.5px solid $link-color;
  padding: 0.4em 0.8em;
  transition: 0.2s;
}

.more a:hover {
  color: #fff;
  background: $link-color;
  text-decoration: inherit;
}

.related div {
  flex: 1 0 15em;
}

.related span {
  display: block;
  color: reduce(100);
}

.related a {
  font-size: 1.2em;
  font-weight: bold;
}

@media (min-width: 30em) {
  .next {
    text-align: right;
  }
}

.title {
  font-size: 1.5em;
  width: 100%;
  margin: 0.1em 0 0.6em;
}

.icons a:hover svg {
  color: reduce(100);
}

@media (min-width: 70em) {
  .large {
    margin: 1em -20%;
  }

  .large img {
    width: 100%;
  }
}

footer {
  text-align: center;
}

.logo-gallery {
  margin: 0;
  width: 100%;
  cursor: default;
  list-style: none;
  padding-left: 0;
}

.logo-gallery li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

