@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

// Colors
$white: #fff;

$color-primary: #005292;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 15%);
$color-secondary: #b13c69;
$color-accent: #eeea72;
$color-shade: #eee;

$color-text: #343434;

// Fonts
$font-stack-primary: 'Open Sans', sans-serif;
$font-stack-secondary: 'Merriweather', serif;

// Layout
$max-width: 1000px;
$gutter: 5px;

// Breakpoints
$breakpoints: (
  'xs': 575px,
  'sm': 576px,
 'med': 768px,
  'lg': 892px,
);




