<!doctype html>
<html lang="pl" class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Informator WMII</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" href="static/grafika/inf-icon.png" />
    <meta property="og:image" content="static/grafika/inf-icon.png" />
</head>

<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<header>
    <div class="img-wrapper">
        <a href="/">
            <img src="../static/images/home.png" />
        </a>
    </div>
    <div class="inner">
        <h1>INFORMATOR STUDENTA</h1>
        <p>Wydziału Matematyki i Informatyki UJ</p>
    </div>
</header>

<div class="container-wrapper">
{{ content }}
</div>

<footer>
    <span>Masz jakieś pytania? Napisz do nas na adres: ksi@uj.edu.pl</span>
</footer>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="/static/js/tracking.js"></script>
<script src="/static/js/main.js"></script>
</body>

</html>
