<!doctype html>
<html lang="pl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css?{{ site.time | date: '%s%N' }}">
    <meta property="og:image" content="/assets/img/bg.jpeg"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=1">
    <link rel="manifest" href="/mainfest.json?v=1">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=1" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico?v=1">
    <meta name="apple-mobile-web-app-title" content="Informator WMiI UJ">
    <meta name="application-name" content="Informator WMiI UJ">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=1">
    <meta name="theme-color" content="#ffffff">

    {% seo %}

    <link rel="preconnect" href="https://www.google-analytics.com">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85101492-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-85101492-1');
    </script>

</head>

<body>
<header class="icons">
    <p class="title">Informator Studenta Wydziału Matematyki i Informatyki UJ</p>
    {% include menu.html menu=site.navigation icons=false %}
    {% include menu.html menu=site.external icons=true %}
</header>


{{ content }}

<footer>
    <ul class="logo-gallery" style="vertical-align: middle">
        <li style="height: 100%"><a href="https://www.facebook.com/WRSS.WMiI.UJ/" target="_blank" rel="noopener">
            <img class="icon" src="/images/SS_WMiI_achromatyczny.png" style="height: 5rem;" alt="WRSS WMiI UJ logo"></a>
        </li>
        <li><a href="https://ksi.ii.uj.edu.pl" target="_blank" rel="noopener">
            <img class="icon" src="/images/ksi-logo-extended-dark-background.png" style="height: 3rem; padding-bottom: 1rem" alt="KSI UJ logo"></a>
        </li>
    </ul>
    <div>© 2015 - {{ 'now' | date: "%Y" }}</div>
</footer>
</body>
</html>
