<!doctype html>
<html lang="pl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css?{{ site.time | date: '%s%N' }}">
    <link rel="icon" href="/static/grafika/inf-icon.png"/>
    <meta property="og:image" content="static/grafika/inf-icon.png"/>

    {% seo %}

    <link rel="preconnect" href="https://www.google-analytics.com">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85101492-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-85101492-1');
    </script>

</head>

<body>
<header class="icons">
    <p class="title">Informator Studenta Wydziału Matematyki i Informatyki UJ</p>
    {% include menu.html menu=site.navigation icons=false %}
    {% include menu.html menu=site.external icons=true %}
</header>


{{ content }}

<footer>
    <ul class="logo-gallery" style="vertical-align: middle">
        <li style="height: 100%"><a href="https://www.facebook.com/WRSS.WMiI.UJ/" target="_blank" rel="noopener">
            <img class="icon" src="/images/SS_WMiI_achromatyczny.png" style="height: 5rem;" alt="WRSS WMiI UJ logo"></a>
        </li>
        <li><a href="https://ksi.ii.uj.edu.pl" target="_blank" rel="noopener">
            <img class="icon" src="/images/ksi-logo-extended-dark-background.png" style="height: 3rem; padding-bottom: 1rem" alt="KSI UJ logo"></a>
        </li>
    </ul>
    <div>© 2015 - {{ 'now' | date: "%Y" }}</div>
</footer>
</body>
</html>
