.main-content {
  min-height: 250px;
  @include flexy($wrap: wrap);
  @include mq('med') {
    @include center(90%);
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.content {
  min-height: 300px;
  width: 95%;
  color: black;
  @include flexy($wrap: wrap);
  @include mq('med') {
    @include center(90%);
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @include mq('xs') {
    padding: 0;
    margin: 40px auto;
    h1 {
      font-size: 1.5em;
    }
  }
  margin: 40px auto;
  p {
    text-align: left;
    padding: 0 0.5em;
  }
  ul, ol {
    list-style-type: disc;
    padding-left: 3.5em;
    text-align: left;
    margin: 0;
  }
}

.inner {
  padding: 0.5em 1em;
}

.container {
  width: 60%;
  margin: auto;
  margin-top: 40px;
}



