header {
  @include skewed {
    background-color: $white;
    bottom: -30px;
  }
  height: 250px;
  background: linear-gradient($color-primary, $color-primary-dark),
  url('../images/bg.png') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  h1 {
    color: $white;
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 1px;
    padding-top: 0;
    @include mq('lg') {
      font-size: 3.7em;
    }
    @include mq('med') {
      font-size: 3.0em;
    }
    @include mq('sm') {
      font-size: 2.5em;
    }
    @include mq('xs') {
      font-size: 2em;
    }
    a, a:hover { color: $white; }
  }
  p {
    color: $color-accent;
    font-size: 1.25em;
    margin: 0;
    @include mq('xs') {
      font-size: 0.9em;
    }
  }
  @include mq('xs') {
    height: 220px;
    margin-bottom: 35px;
  }
  .img-wrapper {
    text-align: left;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    img {
      margin-top: 1em;
      height: 60px;
      @include mq('xs') {
        height: 45px;
      }
    }
    @include mq('xs') {
      width: 90%;
    }
  }

}

