.main-nav {
  margin-top: 1em;
  display: none;
  li {
    display: inline-block;
    margin: 0 0.65em;
  }
  a {
    color: $white;
    font-size: 0.85em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    transition: 0.3s;
    &:hover {
      color: rgba($color-shade, 0.7);
    }
  }
  @include mq('lg') {
    display: initial;
  }
}
